@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&family=Barlow:wght@300;400;500;600;700&family=Oswald:wght@400;500;600;700&family=Rajdhani:wght@400;500;600;700&display=swap');

@font-face {
  font-family: "Sternbach Bold Italic";
  src: url("../fonts/Sternbach Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Druk Cyr";
  src: url("../fonts/drukcyr-bold.ttf") format("truetype");
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Cyr";
  src: url("../fonts/drukcyr-bold.ttf") format("truetype");
  font-weight: 1000;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
